img{
  width:30%;
  height:30%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar .dropdown {
  float: left;
  overflow: hidden;
}

.navbar .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: Arial, sans-serif;
  margin: 0;
  cursor: pointer;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover {
  background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h1 {
    margin: 8;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.text-box {
  background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
  border: 2px solid #000; /* Black border */
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px; /* Optional: adds rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: adds shadow for depth */
  position: relative;
  z-index: 2;
  color: #000;
}