@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #9b790a;
    border-radius: 5rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem; /* Equivalent to 16px */
    background: #fff;
}

section {
    padding: 2rem 7%;
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid black;
}

.heading {
    text-align: bottom;
    color: #010103;
    text-transform: lowercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.4rem;
}

main {
    padding: 20px 0;
}

.navbar a, .dropbtn {
    font-size: 1.5rem;
    color: #020301;
    padding: 1rem;
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar a:hover, .dropbtn:hover {
    color: #faf9f8;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--main-color);
    color: white;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.header {
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo img {
    height: 9rem; 
    position: absolute;
    top: 120%;
    left: 33%;
}

.icons div {
    color: #13131a;
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 2rem;
}

.icons div:hover {
    color: #010103;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.navbar a {
    margin: 0.4em;
    font-size: 1.5rem;
    color: #010103;
}

.navbar a:hover {
    color: #fff;
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .4rem;
}

.home {
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(img4.png) no-repeat;
    background-size: cover;
}

.home .content {
    max-width: max-content;
}

.home .content h3 {
    font-size: 5.5rem;
    text-transform: uppercase;
    padding: 1.0rem;
    color: #fff;
}

.home .content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 1.5rem 0;
    color: #fff;
    text-align: center;
}

.home .image img {
    height: 3rem; 
    float: left;
    top: 500px;
    left: 31%;
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }
}
